<h1>Become a supporter</h1>

<% form_for @donor do |f| %>
  <div class="field" %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  </div>
  <br>
  <div class="field">
  <%= f.label :email %>
  <%= f.text_field :email %>
  </div>
  <br>
  <div class="field">
  <%= f.label :address, "Your address" %>
  <%= f.text_field :address %>
  </div>
  <br>
  <div class="field">
  <%= f.label :phonenumber, "Your phone number" %>
  <%= f.number_field :phonenumber %>
  </div>
  <div class="action">
  <%= f.submit, "Create your Good Revolution profile" %>
  </div>
  <% end %>

<p><%= link_to 'Back to all events', events_path %></p>
<p><%= link_to 'Back to all social actions', social_actions_path %></p>
<p><%= link_to 'Back to all charities', charities_path %></p>
