<h1 class="header"> Events </h1>

<% @events.each do |event| %>
  <div class="box">
  <p><%= link_to event.name, event %> </p>
  <img src="<%= event.img_url %>" class="img-rounded" />
</div>
<%end%>

<div class="after-box">
<p><%= link_to 'Add an event', new_event_path %></p>
<p><%= link_to 'All Charities', charities_path %></p>
<p><%= link_to 'All Social Actions', social_actions_path %></p>
</div>
