<h1>Event: <%= @event.name %></h1>
<img src="<%= @event.img_url %>" />
<p>Fundraising for: <%= link_to @event.social_action.title, @event.social_action %></p>
<p>Date and time: <%= @event.when %></p>
<p>Location: <%= @event.location %></p>


<p><%= link_to 'Back to Social Action', social_action_path %></p>
