<h1>Add a new charity</h1>

<%= form_for @charity do |f| %>
  <div class="field">
    <p><%= f.label :name %></p>
    <%= f.text_field :name %>
    </div>
    <br>
    <div class="field">
    <p><%= f.label :category %></p>
    <%= f.text_field :category %>
    </div>
    <br>
    <div class="field">
    <p><%= f.label :bio, "Description" %></p>
    <%= f.text_area :bio %>
    </div>
    <br>
    <div class="field">
    <p><%= f.label :img_url, "Add an image URL" %></p>
    <%= f.text_field :img_url %>
    </div>
    <br>
    <div class="action">
      <%= f.submit %>
    </div>
<% end %>

<br>
<p><%= link_to 'Delete this Social Action', social_actions_path %></p>
<br>
<p><%= link_to 'Back to all charities', charities_path %></p>
