<h1>Add a new charity</h1>

<%= form_for @charity do |f| %>
  <div class="field">
    <p><%= f.label :name %></p>
    <%= f.text_field :name, :size => 100 %>
    </div>
    <br>
    <div class="field">
    <p><%= f.label :category %></p>
    <%= f.text_field :category, :size => 100 %>
    </div>
    <br>
    <div class="field">
    <p><%= f.label :bio, "Description" %></p>
    <%= f.text_area :bio, size: "100x10" %>
    </div>
    <br>
    <div class="field">
    <p><%= f.label :img_url, "Add an image URL" %></p>
    <%= f.text_field :img_url, :size => 100 %>
    </div>
    <br>
    <div class="action">
    <p><%= f.submit %></p>
    </div>
<% end %>


<br>
<p><%= link_to 'Back to all charities', charities_path %></p>
