<div class="show-profile">
<h1 class="header"><%= @charity.name %></h1>
<br>
<img src="<%= @charity.img_url %>" class="img-rounded" />
<div class="night-theme-box-small"><h3 class="show-page-details" id="category-name">Category: <%= @charity.category %></h3></div>
<div id="about-box">
<p><strong>About:</strong> <%= @charity.bio %></p>
</div>
<div class="events-links">
<div class="h2">Social Actions</div>
<ul>
  <% @charity.social_actions.each do |action| %>
    <li><p><%= link_to action.title, action %></p></li>
  <% end %>
</ul>
</div>
<br>
</div>
<div class="footer-links">
<p><%= link_to 'Back to All Charities', charities_path %></p>
<p><%= link_to 'Edit this charity', edit_charity_path %><br>
<p><%= link_to 'Delete this charity', @charity, method: :delete, data: { confirm: 'Are you sure?'}%></p>
</div>
<br>
