<br>
<%= form_for @social_action do |f| %>
  <div class="field">
  <%= f.label :title %>
  <%= f.text_field :title, :size => 100 %>
  </div>
  <br>
  <div class="field">
  <%= f.label :summary %>
  <br>
  <%= f.text_area :summary, size: "100x10" %>
  </div>
  <br>
  <div class="field">
  <%= f.label :charity %>
  <%= f.collection_select :charity_id, Charity.all, :id, :name %>
  </div>
  <br>
  <div class="field">
  <%= f.label :img_url, "Add an image URL" %>
  <br>
  <%= f.text_field :img_url , :size => 100 %>
  </div>
  <br>
  <div class="action">
  <%= f.submit "Submit", :class => "btn btn-default btn-lg" %>
  </div>
<% end %>
