<h1><%= @social_action.title %></h1>
<img src="<%= @social_action.img_url %>" />
<h2>Charity: <%= link_to @social_action.charity.name, charity_path(@social_action.charity) %></h2>
<p>Description: <%= @social_action.summary %></p>

<h2>Events</h2>
<ul>
  <% @social_action.events.each do |event| %>
    <li><%= link_to event.name, event_path(event) %>
  <% end %>
</ul>

<p><%= link_to 'Back to All Social Actions', social_actions_path %></p>
