<!DOCTYPE html>
<html>
  <head>
    <title>The Good Revolution</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <html>
<head>
  <title>ActiveMerchantExampleApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" %>


<%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" %>


</head>
<body>
     <div class="navbar">
       <ul class="nav navbar-nav navbar-fixed-top">
         <li><a href="/">The Good Revolution</a></li>
         <li><a href="/about">About</a></li>
          <li><a href="/join">Join</a></li>
            <li><a href="/sessions/new">Log in</a></li>
         <li><a href="/charities/">Charities</a></li>
         <li><a href="/social_actions/">Social actions</a></li>
         <li><a href="/events/">Events</a></li>
         <li><a href="/payments/new">Make a donation</a></li>
         <li><a href="/events/new">Add a new event</a></li>
         <li><a href="/social_actions/new">Add a new Social Action</a></li>
         <li><a href="/charities/new">Add a charity</a></li>
         <!-- <li><a href="/users/:id">My profile</a></li> -->
       </ul>
     </div>
   </div>
 </nav>

<div class="container">

    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, id: "flash_#{name}" %>
      <% end %>

<%= yield %>
</div>
<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>


</html>
